// Color Variables
$primary-color: #96e3a1;
$secondary-color: #9AC4F8;
$text-color: #fff;
$text-color-dark: #fff;
$body-color: #2e2e2e;
$border-color: #ACB9C4;
$black: #fff;
$white: #2e2e2e;
$light: #2e2e2e;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';